* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

img {
	border: 0;	
}

body {
	color: #bbb;
	font-family: Helvetica Neue, Verdana, sans-serif;
	font-size: 13px;
}

section, header {
	margin-bottom: 2em;	
	display: block;
}

	section header {
		margin-bottom: 0.5em;	
	}
	
	section ul {
		list-style: none;
	}
	
	section li {
		margin: 0.5em 0;
	}

nav {
	position: relative;
	left: 125px;
	width: 650px;
	height: 1.4em;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(220,220,220,0.5);
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
	z-index: 1;
}

  nav label {
  	display: inline;
  }
  
  nav input[type="text"] {
  	width: 300px;
  }

h1 {
	font-size: 1.2em;	
}

h2 {
	font-size: 1.1em;	
}

p {
	line-height: 1.4em;
	margin: 0 0 0.4em;
}

a, a:visited {
	color: #749EB4;
	text-decoration: none;
}

	a:hover {
		border-bottom: 2px solid #749EB4;
	}

label {
	display: block;
	margin: 0 0 0.1em;
}

input, select {
	margin: 0 0 10px;	
}

input[type=range] {
	width: 200px;
}

canvas, aside {
	position: absolute;
	top: 0;
	width: auto;
}

aside {
	width: 250px;
	z-index: 1;
	padding: 10px;
}

form#controls em {
  margin: 0 8px 0 4px;	
}

#canvasNotSupportedMessage {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -75px;
	margin-top: -150px;
	width: 400px;
	height: 300px;
}

ul#browserLogos {
	margin: 2em auto;
	width: 260px;
}

	ul#browserLogos li {
		display: inline;
		margin: 0 10px;
	}

	ul#browserLogos span {
		display: block;
		text-align: center;
	}

#shareWith {
	position: absolute;
	bottom: 10px;
	right: 0;
	z-index: 1;
}

.twitter-share-button {
	margin-bottom: -3px;
}